.sidebar {
	flex: 0 0 15%;
	background-color: #fff;
	border-right: 2px solid #eaeaea81;
	min-height: 100vh;
    
}

.sidebar-box {
	padding-top: 2rem;
}

.sidebar-nav {
	h1 {
		margin-left: 2rem;
		padding: 1rem 0;
		font: $font-tiny;
		font-weight: 400;
		color: #6E6E6E;
	}
	
	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&.active {
		background-color: #F9FBFE;
		border-left: 3px solid #DE6C31;

		h1 {
			margin-left: 1.7rem !important;
		}
	}
}